<div class="container-fluid">
    <div class="row px-4 pt-3">
        <div class="d-none d-md-block col-md-12 banner align-items-center" style="background-image: url({{urlBanner}});">
            <div class="row px-4 py-3 text-center h-100 align-items-end">
                <div class="col-6">
                    <span class="tema">{{seccionIzq}}</span>
                </div>
                <div class="col-6">
                    <span class="tema">{{seccionDer}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- General -->
    <div class="row px-4 pt-0" *ngIf="tipo==''">
        <div class="col-md-6 text-center justify-content-center">
            <span class="tema d-block d-md-none">{{seccionIzq}}</span>
            <div class="opciones izquierda mt-4 p-3">
                <div class="opcion">
                    * Publica tus vacantes
                </div>
                <div class="opcion">
                    * Busca candidato para tu vacante
                </div>
                <div class="opcion">
                    * Envía vacantes a posibles candidatos
                </div>
            </div>
            <div class="btn btn-success empecemos mt-3 col-sm-6 col-lg-3 align-content-center mx-auto ">
                Empecemos
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="tema d-block d-md-none mt-5">{{seccionDer}}</span>
            <div class="opciones derecha mt-4 p-3">
                <div class="opcion">
                    * Publica habilidades y CV
                </div>
                <div class="opcion">
                    * Busca ofertas de trabajo
                </div>
                <div class="opcion">
                    * Aplicar para un trabajo
                </div>
            </div>
            <div class="btn btn-success empecemos mt-3 col-sm-6 col-lg-3 mx-auto">
                Empecemos
            </div>
        </div>
    </div>
    <!-- Empresa -->
    <div class="row px-4 pt-0" *ngIf="tipo=='e'">
        <div class="col-md-6 text-center justify-content-center">
            <span class="tema d-block d-md-none">{{seccionIzq}}</span>
            <div class="opciones izquierda mt-4 p-3"> 
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Editar perfil
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Publicar vacante
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Gestionar vacantes
                </div>  
                <div class="btn btn-block btn-danger mt-3 col-sm-6 col-lg-5 mx-auto">
                    Eliminar perfil
                </div> 
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="tema d-block d-md-none mt-5">{{seccionDer}}</span>
            <div class="opciones derecha mt-4 p-3">
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Ver las solicitudes
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Videochat
                </div> 
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Buscar aspirante
                </div> 
                <div class="btn btn-block btn-warning mt-3 col-sm-6 col-lg-5 mx-auto">
                    Salir
                </div> 
            </div>
        </div>
    </div>
    <!-- Aspirante -->
    <div class="row px-4 pt-0" *ngIf="tipo=='a'">
        <div class="col-md-6 text-center justify-content-center">
            <span class="tema d-block d-md-none">{{seccionIzq}}</span>
            <div class="opciones izquierda mt-4 p-3"> 
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Editar perfil
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Añadir CV
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Ver CV
                </div>  
                <div class="btn btn-block btn-danger mt-3 col-sm-6 col-lg-5 mx-auto">
                    Eliminar perfil
                </div> 
            </div>
        </div>
        <div class="col-md-6 text-center">
            <span class="tema d-block d-md-none mt-5">{{seccionDer}}</span>
            <div class="opciones derecha mt-4 p-3">
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Gestionar mis solicitudes
                </div>  
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Videochat
                </div> 
                <div class="btn btn-block btn-success mt-3 col-sm-6 col-lg-5 mx-auto">
                    Buscar empresas
                </div> 
                <div class="btn btn-block btn-warning mt-3 col-sm-6 col-lg-5 mx-auto">
                    Salir
                </div> 
            </div>
        </div>
    </div>
    <div class="col px-4 py-3">
        <div class="text-center">
            <app-carousel></app-carousel>  
        </div>
    </div>
</div>