<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" height="400px">
      </div>
      <div class="carousel-caption">
        <h3 style="color: red; font-size: 45px;">UnEmployed.com</h3>
        <p style="color: red; "> Servicio de calidad para nuestros usuarios</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" height="400px">
      </div>
      <div class="carousel-caption">
        <h3 style="color: red; font-size: 45px;"> Aspirante</h3>
        <p style="color: red; ">Encuentra tu empleo ideal en una empresa</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide" height="400px">
      </div>
      <div class="carousel-caption">
        <h3 style="color: red; font-size: 45px;">Empresa</h3>
        <p style="color: red; ">Encuentra tu equipo de trabajo perfecto</p>
      </div>
    </ng-template>
  </ngb-carousel>