<div class="container-fluid">
    <div class="row px-4 pt-3">
        <div class="col-12">
            <h2>Encuentra la empresa ideal para tí:</h2>
        </div>
    </div>
    <div class="row py-4 px-1 mx-5 text-center justify-content-center rowbuscar">
        <div class="col-sm-12 col-lg-8 col-md-8 mx-sm-0 px-sm-0">
            <input class="col-12 barra" type="text" placeholder="¿Qué empresa estas buscando?">
        </div>
        <div class="col-sm-12 col-lg-2 col-md-2 mx-sm-0 px-sm-0">
            <div class="btn btn-block btn-outline-success buscar">
                Buscar
            </div>
        </div>
    </div>
    <div class="row px-4 pt-3">
        <div class="col-12">
            <span class="tendencia">Tendencias:</span>
            <span class="op"> Empresa 1 </span>
            <span class="op"> Empresa 2 </span>
            <span class="op"> Empresa 3 </span>
        </div>
    </div>
    <div class="row px-4 mx-2 mt-3 rowresultados">
        <div class="col-12 text-center">
            <h5>*Filtro de empresas*</h5>
        </div>
        <div class="itemsEmpresa">

        </div>
    </div>
    <div class="mt-3">
        
    </div>
</div>