<!--Botón EditarPerfil-->
<ng-template #editarEmpresa let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Perfil</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form action="">
            <div class="form-group mx-sm-4">
                <div class="etiqueta">*Nombre:</div>
                <input class="form-control" type="text" name="nombre" placeholder="Ingrese nombre de empresa" [(ngModel)]="nombre" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Encargado:</div>
                <input class="form-control" type="text" name="encargado" placeholder="Ingrese nombre de encargado" [(ngModel)]="encargado" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Fecha fundacion:</div>
                <input class="form-control" type="date" name="fecha_fundacion" [(ngModel)]="fecha_fundacion" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Email:</div>
                <input class="form-control" type="text" name="email" placeholder="Ingrese email" [(ngModel)]="email" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Domicilio:</div>
                <input class="form-control" type="text" name="domicilio" placeholder="Ingrese domicilio" [(ngModel)]="domicilio" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Teléfono:</div>
                <input class="form-control" type="number" name="telefono" placeholder="Ingrese telefono" [(ngModel)]="telefono" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Sede:</div>
                <input class="form-control" type="text" name="sede" placeholder="Ingrese sede" [(ngModel)]="sede" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Horario:</div>
                <input class="form-control" type="text" name="horario_atencion" placeholder="Ingrese horario de atencion" [(ngModel)]="horario_atencion" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Areas:</div>
                <textarea class="form-control" name="areas" placeholder="Ingrese Areas" [(ngModel)]="areas"></textarea>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">Extras:</div>
              <textarea class="form-control" name="extras" placeholder="Ingrese datos extras" [(ngModel)]="extras"></textarea>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">URL de logo:</div>
                <input class="form-control" type="text" name="url_logo" placeholder="Ingrese url de logo" [(ngModel)]="url_logo" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Contraseña:</div>
                <input class="form-control" type="password" name="password" placeholder="Ingrese contraseña" [(ngModel)]="password" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
              <div class="etiqueta">*Confirmar contraseña:</div>
                <input class="form-control" type="password" name="password2" placeholder="Ingrese contraseña" [(ngModel)]="password2" required>
            </div>
            <div class="form-group mx-sm-4">
                <input type="submit" class="btn2 btn-block acceder" (click)="registrar()" value="GUARDAR">
                <input type="reset" class="btn2 btn-block acceder" (click)="limpiar()" value="LIMPIAR">                
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
<!--Botón PublicarVacante-->
<ng-template #pblVacante let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Publicar Vacante</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form action="">
            <div class="form-group mx-sm-4">
                <div class="etiqueta">*Puesto:</div>
                <input class="form-control" type="text" name="puesto" placeholder="Ingrese nombre de vacante" [(ngModel)]="puesto" required>
            </div>
            <div class="form-group mx-sm-4 pt-2">
                <div class="etiqueta">*Tipo de entrevista:</div>
                <select class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo" required>
                    <option value="" selected>*Elegir tipo de entrevista*</option>
                    <option value="Texto">Texto</option>
                    <option value="Audio">Audio</option>
                    <option value="Video">Vídeo</option>
                </select>
            </div>
            <div class="form-group mx-sm-4 pt-2">
                <div class="etiqueta">*Cantidad de preguntas para el aspirante:</div>
                <select class="form-control" id="cantidad" name="cantidad" [(ngModel)]="cantidad" required>
                  <option value="" selected>*Elegir cantidad*</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>
            <div class="form-group mx-sm-4 pt-2">
                <div class="etiqueta">*Vigencia vacante:</div>
                <input class="form-control" type="date" name="fecha_vigencia" [(ngModel)]="fecha_vigencia" required>
            </div>
            <!--CICLO FOR PARA INGRESAR PREGUNTAS SEGUN LA CANTIDAD SELECCIONADA
              Campo para ingresar, botón añadir, botón eliminar
            <div class="form-group mx-sm-4 pt-2">
                <div class="etiqueta">*Pregunta:</div>
                <input class="form-control" type="text" name="pr{{i}}" placeholder="Ingrese pregunta para aspirante" [(ngModel)]="pr{{i}}" required>
            </div>-->
            
            <div class="form-group mx-sm-4">
                <input type="submit" class="btn2 btn-block acceder" (click)="registrar()" value="GUARDAR">
                <input type="reset" class="btn2 btn-block acceder" (click)="limpiar()" value="LIMPIAR">                
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
<!--Botón GestionarVacantes-->
<ng-template #gestVacante let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Gestionar Vacantes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form action="">
        <!--Nombre Vacante, botón eliminar-->
        <!--CICLO FOR PARA SACAR VACANTES DE LA BDD-->
          <div class="form-group mx-sm-4">
              <div class="etiqueta">VARIABLEVACANTE</div>
              <button class="btn btn-block mb-4 mr-4 btn3" (click)="eliminarVacante()">Eliminar</button>
          </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
<button class="btn btnemp btn-block mb-2 mr-2" (click)="openScrollableContent(editarEmpresa)">Editar perfil</button>
<button class="btn btnemp btn-block mb-2 mr-2" (click)="openScrollableContent(pblVacante)">Publicar Vacante</button>
<button class="btn btnemp btn-block mb-2 mr-2" (click)="openScrollableContent(gestVacante)">Gestionar Vacantes</button>